<div class="px-2 pt-2 pb-2 .user-box-container">

    <div class="col-12">
        <input type="text" class="w-100 form-control" placeholder="Enter user name...">
    </div>

    <div class="pt-2 pb-2 user-box-wrapper">

        @for (user of users; track $index) {
            <div class="pt-2 pb-2 px-2 rounded d-flex border align-items-center mb-2">
                <h6 class="mx-2 mb-0">{{$index+1}}. {{user.userId}} <span class="badge bg-success"> Online</span></h6>
            </div>
        }

    </div>

</div>