<div class="row mx-0 vh-100 ">

    <div class="col-12 col-md-6 d-flex align-items-center">

        <img src="../../../assets/login-image.jpg" width="100%" alt="login-page">

    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">

        <form class="w-50">
            <img src="../../../assets/logo.png" width="40px" class="mb-3" alt="logo">
            <div class="mb-3">
                <label for="emailId" class="form-label">Email</label>
                <input type="text" id="emailId" class="form-control form-control-sm">
            </div>

            <div class="mb-3">
                <label for="passworId" class="form-label">Password</label>
                <input type="text" id="passworId" class="form-control form-control-sm">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-sm">Login</button>
            </div>

            Don't have account? <a routerLink="/register" >Register</a>
        </form>

    </div>


</div>